/public/build
/node_modules
/public/hot
/public/storage
/public/*.test
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
env
.env
.env.bak
composer.lock
/composer.lock
/docker/postgis_data
/docker/pgadmin_data
/docker/postgres_data
/docker/redis_data
/docker/mongo_data
/docker/data
/docker/minio
