<?php

[Namespace]

use Core\Controllers\BaseController;

class [ControllerName] extends BaseController
{

    protected $prefix = '/[prefix]';


    public function getHello($params=[])
    {
        return 'hello world';
    }

}